%h2{:style => "line-height:20px;font-size:10pt;"} 
  Sign in and share your places!
%p{:style => "width:660px;margin-left:20px;"}
  Get an informed view before you move. 
  Simply enter an address, city or suburb to find insightful reviews on properties and communities within the area of your interest.
%div{:style => "width:352px;margin-top:20px;"}
  = render '/shared/authentication_big_buttons'