- if user_signed_in?
  %div.authentication.logued
    = image_tag(current_user.profile_image_url, width: 30)
    %span
      Hi #{current_user.name}
      = link_to 'Log out', destroy_user_session_path, :method => :delete
- else
  %div.authentication.not-logued
    %a.btn.facebook_signin{:href => user_omniauth_authorize_path(:facebook), :style => "width:137px;"}
    %a.btn.twitter_signin{:href => user_omniauth_authorize_path(:twitter), :style => "width:128px;"}
