%footer.footer
  %div.centered
    %div.left{:style => "float:left;"}
      2012 Milla Moo Pty Ltd
    %ul
      %li
        %a{:href => "/about-us"} About Us
      %li
        %a{:href => "/terms-and-conditions"} Terms & conditions
      %li
        %a{:href => "/privacy"} Privacy
      %li
        %a{:href => "/contact-us"} Contact Us
      %li  
        %span.copy
          &copy; Renters View 2012
    