:css
  section.search form input[type=submit] {
    color:#fff;
    text-shadow: 1px 1px 1px #404040;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
    height:37px;
    border: 1px solid #3EADDC;
    font-size:14px;
    font-weight:bold;
    background: #3EADDC;
    background: -moz-linear-gradient(top, #4DC6F9 0%, #3EADDC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D));
    background: -webkit-linear-gradient(top, #4DC6F9 0%, #3EADDC 100%); 
    background: -ms-linear-gradient(top, #4DC6F9 0%, #3EADDC 100%); 
    background: linear-gradient(to bottom, #4DC6F9 0%, #3EADDC 100%); 
    /*
    -moz-box-shadow: inset 0 0 3px #c1edff;
    -webkit-box-shadow: inset 0 0 3px #c1edff;
    box-shadow: inset 0 0 3px #c1edff;
    */
    cursor:pointer;
    display: inline-block;
    vertical-align:bottom
  }
  section.search form input[type=submit]:hover {
    background: #4DC6F9;
    color:#f3f3f3;
  }
  article.mod-review .buttons a:hover {
    background: #4DC6F9;
    text-decoration:none;
  }
  #location_show .buttons a, article.mod-review .buttons a {
    background:#2a282d;
    border-radius: 12px;
    color: #fff;
    padding: 2px 6px;
    font-size:85%;
    background: #3eaddc; /* Old browsers */
    background: -moz-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4dc6f9), color-stop(100%, #3eaddc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4dc6f9 0%, #3eaddc 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */
    border:1px solid #49b0db;
  }
  ul.search-results li .buttons a, article.mod-review .buttons a {
    background:#3eaddc;
    border-radius: 12px;
    color: #fff;
    padding: 2px 6px;
    font-size:85%;
    background: #3eaddc; /* Old browsers */
    background: -moz-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4dc6f9), color-stop(100%, #3eaddc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4dc6f9 0%, #3eaddc 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */

  border:1px solid #49B0DB;
  }

  article.mod-review .buttons a:hover {
    background: #4DC6F9;
    text-decoration:none;
  }

  .search-bar .buttons a:hover {
    background: #3eaddc;
    text-decoration:none;
  }

  ul.search-results li .buttons a:hover {
    background: #4DC6F9;
    text-decoration:none;
  }

 
%header
  %div.centered
    %h1#headerLogo
      %a{:href => "/"}
        //%img{:src => "assets/renters-view-logo.png" , :alt => "renter view logo"}
    = render '/shared/authentication_big_buttons'
%section.search
  %div.centered
    = render '/shared/flash_messages'
    = render '/shared/search'
