:css
  h2 {
    font-size:120%;
    padding:6px 14px;
    margin-bottom:10px;
    color:#3B0B17;
    font-weight:bold
  }
  .edit_review input[type="submit"], #new_review input[type="submit"], section.search form input[type=submit], .ad_form_rv input[type=submit], #new_message input[type=submit],#new_message input[type="submit"], #new_location input[type="submit"], .agent_review input[type="submit"] {
    color:#fff;
    text-shadow: 1px 1px 1px #404040;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
    height:37px;
    border: 1px solid #f2c43a;
    font-size:14px;
    font-weight:bold;
    background: #FFCF3D;
    background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D));
    background: -webkit-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); 
    background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); 
    background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); 
    /*
    -moz-box-shadow: inset 0 0 3px #c1edff;
    -webkit-box-shadow: inset 0 0 3px #c1edff;
    box-shadow: inset 0 0 3px #c1edff;
    */
    cursor:pointer;
    display: inline-block;
    vertical-align:bottom;
    box-shadow:none;
  }
  .edit_review input[type="submit"]:hover, #new_review input[type="submit"]:hover, section.search form input[type=submit]:hover,.ad_form_rv input[type=submit]:hover, #new_message input[type=submit]:hover,#new_message input[type="submit"]:hover, #new_location input[type="submit"]:hover {
    background: #FFCF3D;
    color:#fff;
  }
  #location_show .buttons a, article.mod-review .buttons a {
    background:#FFCF3D;
    border-radius: 12px;
    color: #fff;
    padding: 2px 6px;
    font-size:85%;
    background: #FFCF3D; /* Old browsers */
    background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, ##FFD557 0%, #FFCF3D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* IE10+ */
    background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */
    border:1px solid #f2c43a;
  }

  .search-bar .buttons a {
    background:#FFCF3D;
    border-radius: 12px;
    color: #fff;
    padding: 4px 8px;
    font-size:85%;
    background: #FFCF3D; /* Old browsers */
    background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, ##FFD557 0%, #FFCF3D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* IE10+ */
    background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */
    border:1px solid #f2c43a;
  }
  ul.search-results li .buttons a, article.mod-review .buttons a {
    background:#3eaddc;
    border-radius: 12px;
    color: #fff;
    padding: 2px 6px;
    font-size:85%;
    background: #FFCF3D; /* Old browsers */
    background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* IE10+ */
    background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */

    border:1px solid #f2c43a;
  }

  article.mod-review .buttons a:hover {
    background: #FFCF3D;
    text-decoration:none;
  }

  .search-bar .buttons a:hover {
    background: #FFCF3D;
    text-decoration:none;
  }

  ul.search-results li .buttons a:hover {
    background: #FFCF3D;
    text-decoration:none;
  }
  header .authentication span a {
    background:#ffcf3d;
    color:#fff;
    padding:3px 8px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-left:10px;
    text-shadow: 1px 1px 0px #404040;
  }

  a.preview-submit-btn, a.preview-cancel-btn {
    color:#fff;
    text-shadow: 1px 1px 1px #404040;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
    height:25px;
    border: 1px solid #f2c43a;
    font-size:14px;
    font-weight:bold;
    background: #FFCF3D;
    background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D));
    background: -webkit-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); 
    background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); 
    background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); 
    /*
    -moz-box-shadow: inset 0 0 3px #c1edff;
    -webkit-box-shadow: inset 0 0 3px #c1edff;
    box-shadow: inset 0 0 3px #c1edff;
    */
    cursor:pointer;
    display: inline-block;
    vertical-align:bottom;
    box-shadow:none;
    width: 65px;
    text-align: center;
    padding-top: 10px;
  }
  a.preview-submit-btn:hover, a.preview-cancel-btn:hover {
    background: #FFCF3D;
    text-decoration:none;
  }
%header
  %div.centered
    %h1#headerLogo
      %a{:href => "/"}
        //%img{:src => "assets/renters-view-logo.png" , :alt => "renter view logo"}
    = render '/shared/authentication_big_buttons'
%section.search
  %div.centered
    = render '/shared/flash_messages'
    = render '/shared/search'
