%div{:style => "line-height:17px;"}
  %h2 
    About Us
  %div{:style => "padding:0 170px 0 30px;"}
    %b Why Gamble? Get the Rentersview.
    %p{:style => "padding:0 60px 0 14px;"}
      %br
      Get an informed view before you move. Simply enter an address, city or suburb to find insightful reviews on properties and communities within the area of your interest.
    %br
    %br
    %b Got something to say? Give your opinion a voice.
    %p{:style => "padding:0 60px 0 14px;"}
      %br
      People say only those with negative views take the time to write them down. We like to think differently. Good, bad or somewhere in between; join our community and record your view.
    %br
    %br
    %b Help others to make informed decisions.
    %p{:style => "padding:0 60px 0 14px;"}
      %br
      Upload photos. Rate properties, communities, agents and landlords.
    %br
    %br
    %b The Bottom Line
    %p{:style => "padding:0 60px 0 14px;"}
      %br
      It's experience that really counts. Be confident that you’ve made the right choice. Contribute to your community. Be rent wise.
    %br
    %br