%div{:style => "line-height:17px;"}
  %h2 
    Contact Us
  %div{:style => "padding:0 170px 0 30px;"}
    %b Have a question or need help?
    %p{:style => "padding:0 60px 0 14px;"}
      %br
      Email us at <a href="mailto:info@rentersview.com">info@rentersview.com</a>, we aim to get back to you as quickly as possible.
    %br
    %br