%h2 
  Help
%p{:style => "padding:0 170px 0 14px;"}
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie vulputate luctus. 
  Integer suscipit, nibh vitae venenatis auctor, libero urna laoreet nisi, non fringilla metus orci iaculis sapien. 
  Mauris tincidunt blandit eros quis suscipit. Aenean eu nisl pulvinar diam lobortis accumsan. 
  Suspendisse sit amet turpis rutrum diam accumsan hendrerit vitae ut ante. 
  Nunc a neque sapien, scelerisque pretium sem. Vivamus dictum velit in sem faucibus feugiat. 
  Fusce sagitti