%div{:style => "line-height:17px;"}
  %h2 
    Privacy
  %div{:style => "padding:0 170px 0 30px;"}
    %b PRIVACY POLICY 
    %p{:style => "padding:0 60px 0 14px;"}
      %br
      Your privacy is important to us and we are committed to observing and upholding the National Privacy Principles contained in Privacy Act 1988 (Commonwealth).
      %br
      %br
      %br
      %b Unregistered Users 
      %br
      %br
      In an effort to protect the identity of reviewers and comments, we do not require any personal information. You have the ability to volunteer your email address if you wish to be informed of further reviews to a specified property, however this is optional.
      Contributors to Rentersview Reviews do not need to be logged in or registered to add reviews and/or comments.
      %br
      %br
      %br
      %b Public Nature of Content Submitted to Rentersview
      %br
      %br
      The nature of the Site is that it acts as a public forum for free speech, to reach a public audience. Please be aware that any information submitted through forms, including personally identifiable information, may be publicly displayed on Site without our control. If you don’t want others to see such information, please do not submit it.
      %br
      %br
      %br
      %b Forms and Content
      %br
      %br
      If you contribute content, such as reviews, or comments to any existing reviews, your contribution will be publicly displayed.
      Reviews and comments can be indexed on search engines, or distributed via feeds.
      Each time you contribute a review or a comment, it may also send pings or feeds to sites that index or track newly updated property reviews. These sites may publicly display a hyperlink to the review and the time of your review.
      %br
      %br
      %br
      %b IP Addresses and Referrers
      %br
      %br
      We do not publicly display the IP addresses of visitors and contributors to Rentersview under any circumstances.
      %br
      We may use your IP address to help diagnose problems with our server, to tailor site content and to format the site and software to user needs, and to generate aggregate statistical reports. We may use aggregate visitor data to prepare publicly displayed reports regarding the traffic on individual reviews, site popularity rankings, and referrers that visitors use to access individual property reviews.
      %br
      %br
      %br
      %b Cookies
      %br
      %br
      If you visit our web site, we may use session cookies while your browser is open.
      %br
      %br
      %br
      %b Disclosure of Information to Rentersview and to Law Enforcement
      %br
      %br
      Available log records, and all data stored on our servers may be accessed by our system administrators. The system administrators may produce these records and data to Rentersview upon request or suspected violation of our terms of use. It is our policy to cooperate with law enforcement officials in the detection, investigation, and prosecution of unlawful activity. If we receive a warrant or subpoena for information, we may disclose requested records to law enforcement authorities or outside parties seeking information through the legal process.
      %br
      %br
      %br
      %b Links to Independent Websites
      %br
      %br
      Reviews and comments hosted by the Site may link to independently run web sites outside of the Website domain.   Rentersview is not responsible for the privacy practices or content of such web sites.
      %br
      %br
      %br
      %b Children’s Privacy
      %br
      %br
      The Site is intended for adults and we will not knowingly collect personal information from children under 13 years old. If you are a parent or legal guardian of a child under age 13 who has become a contributor of the Site, please notify us of a suspected violation.
      %br
      %br
      %br
      %b Modification of this policy
      %br
      %br
      Rentersview may without notice, amend or modify this Privacy Policy by posting the amended Privacy Policy to this website.