%div{:style => "line-height:17px;"}
  %h2 
    Terms and Conditions of Use
  %div{:style => "padding:0 170px 0 30px;"}
    The 
    %a{:href => "http://RentersView.com.au"} RentersView.com.au 
    website is owned and operated by 
    %b Milla Moo Pty Ltd.
    %br
    %br
    We can be reached via email at 
    %a{:href => "mailto:info@rentersview.com"} info@rentersview.com.
    %br
    %br
    Welcome to the rentersview.com.au website (the "Website" or the "Site"). This Website is provided solely to assist customers in gathering information, posting opinions of rental related issues, engaging in interactive forums and for no other purposes.  
    %br
    %br
    The reviewing services ("the services") are offered to you subject to the terms and conditions of use ("Terms") contained herein ("the Agreement").  In this Agreement, the term "you" refers to the customer visiting the Webstie and/or contributing content on this Website.  The terms "we", "us", "our" and "Rentersview" refer to Milla Moo Pty Limited, our corporate affiliates and websites.  By accessing or using this Website in any manner, you agree to be bound by the Agreement, please read it carefully. If you do not accept all of these Terms, you are not authorized to use this site. 
    %br
    %br
    %br
    %b USE OF THE WEBSITE
    %p{:style => "padding:0 60px 0 14px;"}
      %br
      %b Prohibited activities
      %br
      %br
      %p{:style => "padding:0 60px 0 14px;"}
        The content and information on this Website (including, but not limited to, messages, data, information, text, music, sound, photos, graphics, video, maps, icons, software, code or other material), as well as the infrastructure used to provide such content and information, is proprietary to us. Copying, transmission, reproduction, republication, posting or redistribution of the website content or any portion thereof is strictly prohibited without the prior written permission of Rentersview.
        %br
        %br
        %b It is prohibited to use the Website to endorse or promote any product, cause, opinion or political view. Representations of your personal opinions as institutionally endorsed by Rentersview is strictly prohibited.
        %br
        %br
        Additionally, you agree not to:
        %ul{:style => "padding:20px 60px 0 60px;list-style-type:disc;"}
          %li Use this Website or its contents for any commercial purpose;
          %li Use another person's name, account, identity or password without permission, or use the Website while impersonating another person;
          %li Access, monitor or copy any content or information of this Website using any robot, spider, scraper or other automated means or any manual process for any purpose without our express written permission;
          %li Violate the restrictions in any robot exclusion headers on this Website or bypass or circumvent other measures employed to prevent or limit access to this Website;
          %li Take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our infrastructure;
          %li Deep-link to any portion of this Website for any purpose without our express written permission; or "frame", "mirror" or otherwise incorporate any part of this Website into any other website without our prior written authorization.
          %li Attempt to modify, translate, adapt, edit, decompile, disassemble, or reverse engineer any software programs used by Rentersview in connection with the Website or the services.
        %br
        %br
        %p{:style => "padding:0 60px 0 14px;"}
          %b Posting Reviews
          %br
          %br
          We encourage and believe in free speech.  Please be aware that by submitting content to this Website by electronic mail, postings on this Website or otherwise, including any reviews, questions, comments, suggestions, ideas or the like contained in any submissions (collectively, "Submissions"), you grant Rentersview and its affiliates a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sub-licensable right to (a) use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform such Submissions throughout the world in any media, now known or hereafter devised; and (b) use the name that you submit in connection with such Submission. You acknowledge that Rentersview may choose to provide attribution of your comments or reviews at our discretion. You acknowledge and agree that Submissions are non-confidential and non-proprietary.
          %br
          %br
          By posting content to the Website, you warrant and represent that:
          %br
          %br
          %b (A) 
          All information supplied by you on this Website is true, accurate, current and complete.  
          %br
          %br
          %b (B)
          Either you own or otherwise control all of the rights to that content, including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the content, or that your use of the content is a protected fair use. 
          %br
          %br
          %b (C) 
          You agree that you will not knowingly and with intent to defraud, provide material that is misleading or false information. 
          %br
          %br
          %b (D) 
          The content that you supply does not violate these Terms, and that you will indemnify and hold Rentersview harmless for any and all claims resulting from content you supply.  
          %br
          %br
          Although we encourage free speech, we must reserve the right (at our own discretion) to remove certain content that you may post.  The content may be posted freely, provided that it is not illegal, obscene, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or otherwise injurious or objectionable, which is strictly prohibited (prohibited posts).  By using this Site, you expressly agree not to post submissions which are prohibited posts. 
          %br
          %br
          %br
          %b Accessing 
          %br
          %br
          You understand and acknowledge that all content posted to the Website is the sole responsibility of the individual who originally posted the content.  All opinions expressed by users of the Site are expressed strictly in their individual capcaites, and not as representatives of Rentersview.  
          %br
          %br
          Rentersview takes no responsibility and assumes no liability for any content posted, stored or uploaded by you or any third party, or for any loss or damage thereto, nor is Rentersview liable for any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may encounter.  You agree that you must evaluate and bear all risks associated with the use of any content, including any reliance on the accuracy, completeness, or usefulness of such content. 
          %br
          %br
          %br
          %b Privacy Policy
          %br
          %br
          Please be sure to read our privacy policy [insert hyperlink], which is incorporated herein by reference. 
          %br
          %br
          %b Disclaimer of warranties and limitation of liability 
          %br
          %br
          The site is provided on an "as is" and "as available" basis.  Rentersview makes no representations or warranties of any kind, express or implied, as to the site’s operation or the information, content or materials included on this site.   
          %br
          %br
          The information published on this website may include inaccuracies or errors. to the maximum extent permitted by law rentersview, does not guarantee the accuracy of, and disclaim all liability (including for negligence) for any errors or other inaccuracies relating to the information displayed on this website. Rentersview makes no representations of any kind about the suitability of the information on this website (site content) or any portion thereof for any purpose, and the inclusion or offering of information on this website does not constitute any endorsement or recommendation of such information by Rentersview.
          %br
          %br
          To the maximum extent permitted under applicable law, Rentersview hereby disclaims all warranties, express or implied, including but not limited to implied warranties of merchantability and fitness for any particular purpose.  
          %br
          %br
          Rentersveiw will not be liable for any damages of any kind arising from the use of or the inability of use of this Site. 
          %br
          %br
          You expressly agree that you use this site soley at your own ris and in no event shall rentersview (its officers, directors and affiliates) be liable for any direct, indirect, punitive, incidental, special, or consequential losses or damages or any loss of income, profits, goodwill, data, contracts, use of money, or loss or damages arising from or connected in any way to business interruption of any type arising out of, or in any way connected with, your access to, display of or use of this website or with the delay or inability to access, display or use this website (including, but not limited to, your reliance upon opinions appearing on this web site; any computer viruses, information, software, linked sites, or otherwise arising out of the access to, display of or use of this website) whether based on a theory of negligence, contract, tort, strict liability, or otherwise, and even if Rentersview has been advised of the possibility of such damages.
          %br
          %br
          These Terms and foregoing liability disclaimer, do not affect mandatory legal rights that cannot be excluded under applicable law.
          %br
          %br
          If, despite the limitations above, Rentersview is found liable for any loss or damage which arises out of or in any way connected with any of the occurrences described above, then to the maximum extent permitted by law the liability of Rentersview will in no event exceed, in the aggregate, One-Hundred Dollars (AU$100.00).
          %br
          %br
          The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these terms is found to have failed of its essential purpose. The limitations of liability provided in these terms inure to the benefit of Rentersview.
          %br
          %br
          %br
          %b Indemnification
          %br
          %br
          You agree to defend and indemnify Rentersview and its affiliates and any of their officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by third parties as a result of:
          your breach of this Agreement or the documents referenced herein;
          your violation of any law or the rights of a third party; or
          your use of this Website.
          %br
          %br
          %br
          %b Modification of these Terms 
          %br
          %br
          Rentersview reserves the right to change, at any time, at our sole discretion, the Terms under which these services are offered.  You are responsible for regularly reviewing these Terms.  Your continued use of the services constitutes your agreement to all such Terms. 
          %br
          %br
          %br
          %b Copyright Infringements
          %br
          %br
          Rentersview respects the intellectual property of others, and requires that our users do the same. If you believe that your work has been copied and is accessible on this site in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please contact us to report such copyright infringements.
          %br
          %br
          By accessing and/or contributing to the Rentersview website, you acknowledge that you have read and are bound by this agreement, as well as any other Rentersview network usage agreements that may govern your conduct. Thank you for participating in the Rentersview initiative. Please do not hesitate to contact us if you have questions.
          %br
          %br
          %br
          %b Governing Law and Jurisdiction
          %br
          %br
          This document and the transactions contemplated by this document are governed by and construed in accordance with the law in force in the State of New South Wales.
          %br
          %br
          Each party irrevocably and unconditionally submits to the jurisdiction of the courts of the State of New South Wales and courts of appeal from them for determining any dispute concerning this document or the transactions contemplated by this document.  Each party waives any right it has to object to an action being brought in those courts, to claim that the action has been brought in an inconvenient forum, or to claim that those courts do not have jurisdiction.