/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/*Fix google maps marker when using twitter bootstrap*/

/*font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Oxygen', sans-serif;*/

@import url("reset.css");

html {cursor:default;}
/* HTML5 tags */
header, section, footer, aside, nav, article, figure {
	display: block;
	padding:0;
	margin:0
}
#map img {
	max-width: none;
}
html {
	background:#f4f4f4
}
img { max-width:100%; height:auto}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}
.footer, .push {
	height: 3em;
	clear:both
}
a {
	color:#4ec8fb;
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
body {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(99%, #f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 99%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0 ); /* IE6-9 */
	font-size:0.8em;
	font-family:Verdana, Oxygen, Geneva, sans-serif;
	color:#2a282d
}
h2 {
	font-size:120%;
	padding:6px 14px;
	margin-bottom:10px;
	color:#4ec8fb;
	font-weight:bold
}
h1 {
	font-weight:bold;
	font-size:140%
}
a {
	text-decoration:none
}
.centered {
	max-width:1004px;
	margin:0 auto
}
/****header*****/
header {
	border-bottom:1px solid #f0f0f0;
	height:112px;
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	background: #fff !important;
	font-size:85%
}
header .authentication {
	padding:4px 8px;
	background:#f6f6f6;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	border:1px solid #eee;
	border-top:none
}

header .authentication.not-logued { border:none; background:none; padding-top:6px}
header .authentication img {
	float:left;
	margin-right:10px;
	border:1px solid #fff
}
.authentication .btn{ display:block; padding:4px 0 4px 22px; margin:4px 0; }
.authentication .btn.icon-face{	background:url(icons.png) no-repeat 0px -130px;float:left;margin-right:18px;}
.authentication .btn.icon-twitter{	background:url(icons.png) no-repeat 0px -163px;float:left;}
header .authentication span {
	position:relative;
	top:10px;
}
header .authentication span a {
	background:#ffcf3d;
	color:#2a282d;
	padding:3px 8px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	margin-left:10px
}
header .authentication span a:hover {
}
header h1#headerLogo {
	width:311px;
	height:80px;
	float:left;
	font-family:"PT Sans Narrow", Verdana;
	background:url(renters-view-logo.png) no-repeat;
	font-size:22px
}
header h1#headerLogo {
	margin-top:12px
}
header h1#headerLogo a {
	display:block;
	height:100%
}
.authentication {
	float:right
}
/*****search*******/
section.search {
	height:127px;
	border-bottom:1px solid #f0f0f0;
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #ffffff 48%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(48%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #ffffff 48%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 0%, #ffffff 48%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 0%, #ffffff 48%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 0%, #ffffff 48%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
section.search .centered { position:relative}
section.search form {
	width:60%;
	margin:0 auto;
	vertical-align:middle;
	padding-top:36px
}
section.search form input[type=text] {
	border:1px solid #dedede;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	height:34px;
	/*padding:0% 6%;*/
-moz-box-shadow: inset 0 0 5px #e4e4e4;
	-webkit-box-shadow: inset 0 0 5px #e4e4e4;
	box-shadow: inset 0 0 5px #e4e4e4;
	color: #d7d7d7;
	display: inline-block;
	vertical-align:bottom
}
section.search form input[type=text]:focus {
	color:#2a282d;
}
/*
 * OLD BLUE
section.search form input[type=submit] {
	color:#fff;
	text-shadow: 1px 1px 1px #404040;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	height:37px;
	border: 1px solid #49b0db;
	font-size:14px;
	font-weight:bold;
	background: #3eaddc;
	background: -moz-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #4dc6f9));
	background: -webkit-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); 
	background: -ms-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); 
	background: linear-gradient(to bottom, #3eaddc 0%, #4dc6f9 100%); 
	-moz-box-shadow: inset 0 0 3px #c1edff;
	-webkit-box-shadow: inset 0 0 3px #c1edff;
	box-shadow: inset 0 0 3px #c1edff;
	cursor:pointer;
	display: inline-block;
	vertical-align:bottom
}
*/
section.search form input[type=submit] {
	color:#fff;
	text-shadow: 1px 1px 1px #404040;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	height:37px;
	border: 1px solid #f2c43a;
	font-size:14px;
	font-weight:bold;
	background: #FFCF3D;
	background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D));
	background: -webkit-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); 
	background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); 
	background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); 
	/*
	-moz-box-shadow: inset 0 0 3px #c1edff;
	-webkit-box-shadow: inset 0 0 3px #c1edff;
	box-shadow: inset 0 0 3px #c1edff;
	*/
	cursor:pointer;
	display: inline-block;
	vertical-align:bottom
}
section.search form input[type=submit]:hover {
	background: #FFCF3D;
	color:#f3f3f3;
}
/*
 * OLD BLUE HOVER
section.search form input[type=submit]:hover {
	background: #3eaddc;
	background: -moz-linear-gradient(top, #3eaddc 0%, #0095f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #0095f2));
	background: -webkit-linear-gradient(top, #3eaddc 0%, #0095f2 100%);
	background: -o-linear-gradient(top, #3eaddc 0%, #0095f2 100%); 
	background: -ms-linear-gradient(top, #3eaddc 0%, #0095f2 100%); 
	background: linear-gradient(to bottom, #3eaddc 0%, #0095f2 100%); 
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaddc', endColorstr='#0095f2', GradientType=0 );
	color:#eee;
}
*/
section.search form label {
	display:block;
	font-size:11px;
	padding-bottom:6px;
	text-indent:14px;
	letter-spacing:-0.03em
}
section.search form .left {
	width:22%;
	float:left;
	padding:0 2%
}
section.search form .right {
	width:74%;
	float:right;
}
section.search form .left input[type=text] {
	width:76%;
	background:url(icons.png) no-repeat 8px 8px;
	padding-left:30px;
	background-color:#FFF;/*text-indent:10%*/
}
section.search form .right input[type=text] {
	width:68%;
	background:url(icons.png) no-repeat 8px -18px;
	padding-left:30px;
	background-color:#FFF;
}
section.search form .right input[type=submit] {
	width:22%;
	padding:0 4%;
	float:right
}
/******end serach******/

section#main {
	min-height: 30%;
	padding-top:24px;
	overflow:auto;
	padding-bottom:30px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 54%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(54%, rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 54%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 54%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 54%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 54%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0 ); /* IE6-9 */
}
/******review************/
section#main ul.review-bloqs li, ul.search-results li, section.add-sec li {
	display:inline-block;
	position:relative;
	margin:0 3px;
	min-width:320px;
	vertical-align:top
	/*float:left*/
}
 section.add-sec li{ margin:0; display:block}
section#main ul.review-bloqs li article, ul.search-results li article, section.add-sec li article{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(87%, #ffffff), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 87%, #f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 );
	padding:12px 12px 20px 12px;  /* IE6-9 */
	max-width:300px;
	font-size:12px;
	overflow:auto;
}
section.add-sec li article{ padding:0 12px; background:none; }
.add-sec h2 { margin:0; padding-bottom:0}
.review-page section.add-sec li article{ padding:0}
section.add-sec li{}
.review-page section.add-sec li article { width:auto; max-width:100%}
section.add-sec { margin:0; }
section#main ul.review-bloqs li article figure {
	position:relative;
	max-width:300px;
	margin-bottom:8px
}

review-page .right-bar  { width:50%}
section#main ul.review-bloqs li article img {
	max-width:100%;
	height:auto
}
section#main ul.review-bloqs li article figcaption {
	position:absolute;
	right:0px;
	top:18px;
	background: rgba(0, 0, 0, 0.7);
	color:#FFF;
	padding:6px 10px;
	color:#f1f1f1;
	font-size:16px
}
section#main ul.review-bloqs li article figcaption a {
	color:#FFF;
}
section#main ul.review-bloqs li article figcaption a:hover {
	text-decoration:underline
}
section#main ul.review-bloqs .review {
}
section#main .review a {
	color:#2a282d
}
section#main .review a:hover {
	color:#4ec8fb
}
.review p, .add p{ margin:4px 0; line-height:16px; text-align:justify}
.add p.message { font-style:italic; margin-top:4px;   padding-left:60px}
section#main ul.review-bloqs .review span, section.review-page .review span , section.add-sec .add-list span.name{
	font-weight:bold;
	padding-top:2px;
	display:inline-block
}
.add-list p.contact-info{ color:#666666; font-weight:normal; font-size:11px; margin-left:6px}
section#main ul.review-bloqs .review img, section.review-page .review img, section.add-sec img {
	float:left;
	margin:0 10px 0px 0
}



section#main ul.review-bloqs .review img { margin-bottom:10px}


.rev-shadow {
	background:url(rev-shadow.png) no-repeat;
	height:8px;
	max-height:320px
}

.rev-shadow-medium{
	background:url(shadow-medium.png) no-repeat center;
	height:8px;
	max-height:660px}
	
.rev-shadow-large{
	background:url(shadow-large.png) no-repeat center;
	height:8px;
	max-height:600px}
	
section.review-page {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(87%, #ffffff), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 87%, #f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 );
	padding:12px 12px 20px 12px;  /* IE6-9 */
	max-width:640px;
	font-size:12px;
	overflow:auto;
	margin-left:8px
}
section.review-page h1 {
	/*background:url(icons.png) no-repeat 0 -96px;*/
	padding-left:14px;
	padding-bottom:6px;
	margin-bottom:20px
}
section.review-page h1 span{ font-size:90%;  color:#4EC8FB; display:block; clear:both; margin-top:4px }
ul.search-results li h3 {
	margin-bottom:10px;
	font-weight:bold;
	line-height:14px;
	float:left; width:64%
}
section.add-sec h3 {
	font-weight:bold;
	line-height:14px; clear:both}
ul.search-results li h3 a, section.add-sec h3 a {
	color:#2a282d;
}

section.add-sec .profile{  padding:0; overflow:hidden;  margin-top:8px}
ul.search-results li img {
	padding:2px;
	background:#FFF;
	border:1px solid #eee;
	float:left;
	margin-right:10px
}
ul.search-results li .buttons {
	position:absolute;
	bottom:30px;
	right:12px
}
ul.search-results li .buttons a, article.mod-review .buttons a {
	background:#2a282d;
	border-radius: 12px;
	color: #2A282D;
	padding: 2px 6px;
	font-size:85%;
	background: #FFCF3D; /* Old browsers */
	background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */

    border:1px solid #F2C43A;
}

article.mod-review .buttons a:hover {
	background: #FFD557;
	text-decoration:none;
}

.search-bar .buttons a:hover {
	background: #FFD557;
	text-decoration:none;
}

ul.search-results li .buttons a:hover {
	background: #FFD557;
	text-decoration:none;
}

article.mod-review .buttons {
	text-align:right
}
.left-bar article.mod-review .buttons a {
	font-size:100%;
	display: inline-block;
	padding:4px 8px;
	
}

.left-bar article.mod-review .buttons a.open-map{
background: #ffffff; 
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); 
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); 
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); 
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); 
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
color:#666666;
border:1px solid #e5e5e5;
float: left;
font-size:85%
}
section#main .left-bar .review-list li { clear:both; display:block; padding:10px 0; border-bottom:1px solid #f3f3f3; overflow:auto; width:auto; min-width: auto
}
section#main .left-bar .review-list { padding:12px 0 0 0}
section#main .left-bar .review-list li img { margin-bottom:0}
.add-list{
		background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(87%, #ffffff), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 87%, #f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 ); margin:0 3px}

.review-page .add-list { background:none; padding:0 3%; margin:0}
.location-city{ border-bottom:1px  solid #f3f3f3}
 .add-list  li{ padding:10px 0; border-bottom:1px solid #F3F3F3}

.review-number {
	background:url(icons.png) -2px -62px no-repeat;
	padding-left:18px
}
.search-results .review-number{ float:left; margin-bottom:24px; padding:2px 0px 2px 18px}

.left-bar .review-number { font-size:90%; color:#666}

.left-bar h2 {  
	padding:0px 0 4px 0px; margin:15px 0 0px 0;  
}
.gallery { margin-bottom:20px; padding:0 12px

}
.gallery img {
	width:90px;
	padding:2px;
	background:#fff;
	border:1px solid #eee;
	margin:0 4px
}
.map {
	margin:10px 0; 	float:left; width:50%
}

.left-bar {
	max-width:330px;
	float: left;
	margin-bottom:20px

}

.main-bar {
	/*max-width:674px;*/
	margin-left:330px;
		margin-bottom:20px

}
.search-bar{ max-width:674px; float:left }
.right-bar { max-width:330px; float:right}
/**************tabs**********************/
.liteTabs a.selected, .liteTabs a.selected:hover { color:#4ec8fb !important; font-size:120%}

.liteTabs ul.tabs-tabs li a { padding:10px}
.tabs{ margin-top:20px; clear:both}
.tabs div.tabs-content ul{}
.tabs div.tabs-content ul li{ display:block; float:none}
.tabs div.tabs-content ul ul{ border-bottom: 1px
 solid #f6f6f6}
.tabs div.tabs-content a { color:#ccc; margin:0 3px}
.tabs div.tabs-content a.clicked {color:#2A282D; }
.tabs div.tabs-content a:hover{ background:none; text-decoration:underline}
.tabs div.tabs-content p { margin:10px; font-weight:bold}
.tabs div.tabs-content ul ul li{ display:inline-block; margin:0px 8px; padding:4px 4px 4px 26px; vertical-align:middle;  }

.tabs div.tabs-content ul ul li.hour{ font-size:120%; font-weight:bold; padding-left:0}
.tabs div.tabs-content ul ul li.day{ background:url(icons.png) no-repeat 0px -230px;}
.tabs div.tabs-content ul ul li.address{ background:url(icons.png) no-repeat 0px -197px; }
.tabs div.tabs-content ul ul li.address a {color:#2A282D}
.tabs div.tabs-content ul ul li.address a:hover{ text-decoration:underline}
.tabs div.tabs-content ul ul li.review-number{ background:url(icons.png) no-repeat 0px -59px;}
.tabs div.tabs-content ul ul li.friends{}
.tabs div.tabs-content ul ul li.friends img { width:40px; float:left; margin-right:6px}
.tabs div.tabs-content ul ul li.friends span { position:relative; top:7px}

.centered div.alert {
	position:absolute;
	top:-104px;
	width:1004px;
	color:green;
	text-align:center;
	margin:0 auto;
}


/**********footer****************/
footer {
	background:#FFF;
	border-top:1px solid #f0f0f0;
}
footer ul {
	text-align:right;
	margin-right:20px
}
footer ul li {
	display:inline-block
}
footer ul li a {
	color:#000;
	margin:0 8px
}
footer ul li span {
	color:#999;
	margin-left:30px
}
footer .centered {
	font-size:10px;
	padding-top:15px
}

.edit_review input[type=submit], #new_review input[type=submit] {
	color:#fff;
	text-shadow: 1px 1px 1px #404040;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	height:37px;
	border: 1px solid #49b0db;
	font-size:14px;
	font-weight:bold;
	background: #3eaddc; /* Old browsers */
	background: -moz-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #4dc6f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3eaddc 0%, #4dc6f9 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaddc', endColorstr='#4dc6f9', GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0 0 3px #c1edff;
	-webkit-box-shadow: inset 0 0 3px #c1edff;
	box-shadow: inset 0 0 3px #c1edff;
	cursor:pointer;
	display: inline-block;
	vertical-align:bottom;
	margin-top:10px;
}
#new_review input[type=submit]:hover {
	background: #3eaddc; /* Old browsers */
	background: -moz-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #0095f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3eaddc 0%, #0095f2 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaddc', endColorstr='#0095f2', GradientType=0 ); /* IE6-9 */
	color:#eee;
}

#new_ad input[type=submit] {
	color:#fff;
	text-shadow: 1px 1px 1px #404040;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	height:37px;
	border: 1px solid #49b0db;
	font-size:14px;
	font-weight:bold;
	background: #3eaddc; /* Old browsers */
	background: -moz-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #4dc6f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3eaddc 0%, #4dc6f9 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaddc', endColorstr='#4dc6f9', GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0 0 3px #c1edff;
	-webkit-box-shadow: inset 0 0 3px #c1edff;
	box-shadow: inset 0 0 3px #c1edff;
	cursor:pointer;
	display: inline-block;
	vertical-align:bottom;
	margin-top:10px;
}
#new_ad input[type=submit]:hover {
	background: #3eaddc; /* Old browsers */
	background: -moz-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #0095f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3eaddc 0%, #0095f2 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaddc', endColorstr='#0095f2', GradientType=0 ); /* IE6-9 */
	color:#eee;
}

#new_location input[type=submit] {
	color:#fff;
	text-shadow: 1px 1px 1px #404040;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	height:37px;
	border: 1px solid #49b0db;
	font-size:14px;
	font-weight:bold;
	background: #3eaddc; /* Old browsers */
	background: -moz-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #4dc6f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3eaddc 0%, #4dc6f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3eaddc 0%, #4dc6f9 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaddc', endColorstr='#4dc6f9', GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: inset 0 0 3px #c1edff;
	-webkit-box-shadow: inset 0 0 3px #c1edff;
	box-shadow: inset 0 0 3px #c1edff;
	cursor:pointer;
	display: inline-block;
	vertical-align:bottom;
	margin-top:10px;
	padding:0 13px;
}
#new_location input[type=submit]:hover {
	background: #3eaddc; /* Old browsers */
	background: -moz-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3eaddc), color-stop(100%, #0095f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3eaddc 0%, #0095f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3eaddc 0%, #0095f2 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eaddc', endColorstr='#0095f2', GradientType=0 ); /* IE6-9 */
	color:#eee;
}

#new_location input[type=text] {border:solid 1px #dddddd;padding:4px;width:320px; margin:2px 0; border-radius:6px; -moz-border-radius:6px;-webkit-border-radius:6px;}
#new_location textarea {border-radius:6px; -moz-border-radius:6px;-webkit-border-radius:6px;}
#new_location label {
    display: block;
    float: left;
    width: 120px;
	 padding-top:8px
}
 #new_location input[type=file] {}
form#new_location {margin-left:20px;}

section#main #location_show article, ul.search-results li article {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(87%, #ffffff), color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 87%, #f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 87%, #f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 );
	padding:12px 12px 20px 12px;  /* IE6-9 */
	max-width:300px;
	font-size:12px;
}

section#main #location_show article figure {
	position:relative;
	max-width:300px;
	margin-bottom:8px
}
section#main #location_show article img {
	max-width:100%;
	height:auto
}
section#main #location_show article figcaption {
	position:absolute;
	right:0px;
	top:18px;
	background: rgba(0, 0, 0, 0.8);
	color:#FFF;
	padding:6px 10px;
	color:#f1f1f1;
	font-size:16px
}
section#main #location_show article figcaption a {
	color:#FFF;
}
section#main #location_show article figcaption a:hover {
	text-decoration:underline
}

#location_show h3 {
	margin-bottom:10px;
	font-weight:bold;
	line-height:14px
}
#location_show h3 a {
	color:#2a282d;
}
#location_show img {
	padding:2px;
	background:#FFF;
	border:1px solid #eee;
	float:left;
	margin-right:10px
}
#location_show .buttons {
	float:right;
	margin-top:19px;
	bottom:30px;
	right:12px
}
#location_show .buttons a{
	background:#2a282d;
	border-radius: 12px;
	color: #fff;
	padding: 2px 6px;
	font-size:85%;
	background: #3eaddc; /* Old browsers */
	background: -moz-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4dc6f9), color-stop(100%, #3eaddc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4dc6f9 0%, #3eaddc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4dc6f9 0%, #3eaddc 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */
	border:1px solid #49b0db;
}

article.mod-review .buttons a {
	background:#2a282d;
	border-radius: 12px;
	color: #2A282D;
	padding: 2px 6px;
	font-size:85%;
	background: #FFCF3D; /* Old browsers */
	background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */
	border:1px solid #F2C43A;
}


.search-bar .buttons a {
	background:#2a282d;
	border-radius: 12px;
	color: #2A282D;
	padding: 4px 8px;
	font-size:85%;
	background: #FFCF3D; /* Old browsers */
	background: -moz-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFD557), color-stop(100%, #FFCF3D)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFD557 0%, #FFCF3D 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFD557 0%, #FFCF3D 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 ); /* IE6-9 */
	border:1px solid #F2C43A;
}

/*
 * OLD BLACK
#location_show .buttons a, article.mod-review .buttons a {
	background:#2a282d;
	border-radius: 12px;
	color: #fff;
	padding: 2px 6px;
	font-size:85%;
	background: #2a282d;
	background: -moz-linear-gradient(top, #4c4c4c 0%, #2a282d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #2a282d));
	background: -webkit-linear-gradient(top, #4c4c4c 0%, #2a282d 100%); 
	background: -o-linear-gradient(top, #4c4c4c 0%, #2a282d 100%); 
	background: -ms-linear-gradient(top, #4c4c4c 0%, #2a282d 100%); 
	background: linear-gradient(to bottom, #4c4c4c 0%, #2a282d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2a282d',GradientType=0 );
	border:1px solid #2a282d;
}
*/

.facebook_signin {width:150px;height:15px;background:url(facebook_signin.png) no-repeat;float:left;}
.twitter_signin {width:150px;height:15px;background:url(twitter_signin.png) no-repeat;float:left;}